<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.app.mapper.DemoMapper">

    <update id="updateNum">
        UPDATE demo.t_demo
        SET num = (num + #{num})
        WHERE id = #{id}
          AND (num + #{num}) >= 0
    </update>

</mapper>
