<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.mall.mapper.OmsLogisticMapper">

    <select id="selectUnFinishData" resultType="com.zhengqing.mall.entity.OmsLogistic">
        SELECT *
        FROM oms_logistic
        WHERE (status IN (0, 1, 2))
          AND #{updateTime} > update_time
        ORDER BY id ASC
    </select>

</mapper>
