<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.mall.mapper.OmsOrderShippingItemMapper">

    <select id="selectListForOrderItemId" resultType="java.lang.String">
        SELECT order_item_id
        FROM oms_order_shipping_item
        WHERE order_no = #{orderNo}
          AND shipping_id = #{shippingId}
    </select>

</mapper>
