<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.mall.mapper.SmsShopMapper">


    <resultMap id="pageMap" type="com.zhengqing.mall.model.vo.SmsShopBaseVO">
        <result column="open_time_list"
                property="openTimeList"
                typeHandler="com.zhengqing.mall.config.mybatis.handler.ShopListOpenTimeTypeHandler"></result>
    </resultMap>

    <select id="selectDataPage" resultMap="pageMap">
        SELECT * FROM sms_shop
        <where>
            is_deleted=0
            <if test="filter.shopId!=null">
                AND shop_id = #{filter.shopId}
            </if>
            <if test="filter.shopName!=null and filter.shopName!=''">
                AND shop_name LIKE CONCAT( '%', #{filter.shopName} , '%' )
            </if>
            <if test="filter.provinceName!=null and filter.provinceName!=''">
                AND province_name = #{filter.provinceName}
            </if>
            <if test="filter.cityName!=null and filter.cityName!=''">
                AND city_name = #{filter.cityName}
            </if>
            <if test="filter.areaName!=null and filter.areaName!=''">
                AND area_name = #{filter.areaName}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>


</mapper>
