<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.cms.mapper.CmsJobMapper">

    <resultMap id="pageMap" type="com.zhengqing.cms.model.vo.CmsJobBaseVO">
        <result column="tag_list"
                property="tagList"
                typeHandler="com.zhengqing.common.db.config.mybatis.handler.ListIntegerTypeHandler"></result>
    </resultMap>

    <select id="selectDataList" resultMap="pageMap">
        SELECT
        cj.*, tsm.name merchantName, cjc.name categoryName
        FROM cms_job cj
        LEFT JOIN t_sys_merchant tsm ON tsm.id = cj.merchant_id
        LEFT JOIN cms_job_category cjc ON cjc.id = cj.category_id
        <where>
            cj.is_deleted=0
            <if test="filter.id!=null">
                AND cj.id = #{filter.id}
            </if>
            <if test="filter.idList!=null and filter.idList.size>0">
                AND cj.id IN
                <foreach collection="filter.idList" separator="," open="(" close=")" item="id">
                    #{id}
                </foreach>
            </if>
            <if test="filter.merchantId!=null">
                AND cj.merchant_id = #{filter.merchantId}
            </if>
            <if test="filter.deptId!=null">
                AND cj.dept_id = #{filter.deptId}
            </if>
            <if test="filter.postId!=null">
                AND cj.post_id = #{filter.postId}
            </if>
            <if test="filter.name!=null and filter.name!=''">
                AND cj.name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.keyword!=null and filter.keyword!=''">
                AND cj.name LIKE CONCAT( '%', #{filter.keyword} , '%' )
            </if>
            <if test="filter.categoryId!=null">
                AND cj.category_id = #{filter.categoryId}
            </if>
            <if test="filter.status!=null">
                AND cj.status = #{filter.status}
            </if>
        </where>
        ORDER BY cj.sort ASC, cj.create_time DESC
    </select>

    <select id="selectJobNum" resultType="java.lang.Long">
        select count(1)
        from cms_job
        where is_deleted = 0
          and merchant_id = #{merchantId}
    </select>


</mapper>
