<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.cms.mapper.CmsJobCategoryMapper">

    <select id="selectDataPage" resultType="com.zhengqing.cms.model.vo.CmsJobCategoryPageVO">
        SELECT
        cjc.*, tsm.name merchantName, tsd.name deptName
        FROM cms_job_category cjc
        LEFT JOIN t_sys_dept tsd ON tsd.id = cjc.dept_id
        LEFT JOIN t_sys_merchant tsm ON tsm.id = cjc.merchant_id
        <where>
            cjc.is_deleted=0
            <if test="filter.merchantId!=null">
                AND cjc.merchant_id = #{filter.merchantId}
            </if>
            <if test="filter.deptId!=null">
                AND cjc.dept_id = #{filter.deptId}
            </if>
            <if test="filter.name!=null and filter.name!=''">
                AND cjc.name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
        </where>
        ORDER BY cjc.sort ASC, cjc.create_time DESC
    </select>

    <select id="selectDataList" resultType="com.zhengqing.cms.model.vo.CmsJobCategoryListVO">
        SELECT
        id, name
        FROM cms_job_category
        <where>
            is_deleted=0 AND status=1
            <if test="filter.merchantId!=null">
                AND merchant_id = #{filter.merchantId}
            </if>
            <if test="filter.deptId!=null">
                AND dept_id = #{filter.deptId}
            </if>
            <if test="filter.name!=null and filter.name!=''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
        </where>
        ORDER BY sort ASC, create_time DESC
    </select>

</mapper>
