<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysAppConfigMapper">

    <resultMap id="map" type="com.zhengqing.system.model.bo.SysAppConfigBO">
        <result column="app_version_obj"
                property="appVersionObj"
                typeHandler="com.zhengqing.system.config.mybatis.handler.SystemJsonAppVersionHandler"></result>
    </resultMap>

    <select id="selectDataList" resultMap="map">
        select tsac.*
        from t_sys_app_config tsac
        <if test="filter.isUsable != null and filter.isUsable">
            join t_sys_dept tsd on tsd.app_config_id = tsac.id
            and tsd.is_deleted = 0
            and tsd.status = 1
            and tsd.expire_time > now()
        </if>
        <where>
            <if test="filter.idList != null and filter.idList.size() > 0">
                AND tsac.id IN
                <foreach item="id" index="index" collection="filter.idList" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="filter.appIdList != null and filter.appIdList.size() > 0">
                AND tsac.app_id IN
                <foreach item="appId" index="index" collection="filter.appIdList" open="(" separator="," close=")">
                    #{appId}
                </foreach>
            </if>
        </where>

    </select>
</mapper>
