<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysAppConfigMapper">

    <resultMap id="map" type="com.zhengqing.system.model.bo.SysAppConfigBO">
        <result column="app_version_obj"
                property="appVersionObj"
                typeHandler="com.zhengqing.system.config.mybatis.handler.SystemJsonAppVersionHandler"></result>
    </resultMap>

    <select id="selectDataList" resultMap="map">
        select tsac.*
        from t_sys_app_config tsac
        <if test="filter.isUsable != null and filter.isUsable">
            join t_sys_tenant tst on tst.id = tsac.tenant_id
            and tst.is_deleted = 0
            and tst.status = 1
            and tst.expire_time > now()
        </if>
        <where>
            <if test="filter.isUsable != null and filter.isUsable">
                AND tsac.app_id is not null and LENGTH(app_id) != 0
            </if>
            <if test="filter.name!=null and filter.name!=''">
                AND tsac.name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.tenantIdList != null and filter.tenantIdList.size() > 0">
                AND tsac.tenant_id IN
                <foreach item="tenantId" index="index" collection="filter.tenantIdList" open="(" separator=","
                         close=")">
                    #{tenantId}
                </foreach>
            </if>
            <if test="filter.appIdList != null and filter.appIdList.size() > 0">
                AND tsac.app_id IN
                <foreach item="appId" index="index" collection="filter.appIdList" open="(" separator="," close=")">
                    #{appId}
                </foreach>
            </if>
        </where>

    </select>
</mapper>
