<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysMenuMapper">

    <select id="selectMenuTree" resultType="com.zhengqing.system.model.bo.SysMenuTree">
        SELECT
        sm.*,
        <choose>
            <when test="filter.roleIdList!=null and filter.roleIdList.size>0">
                IF(srm.id IS NULL, 0, 1) isHasPerm
            </when>
            <otherwise>
                1 isHasPerm
            </otherwise>
        </choose>
        FROM t_sys_menu sm
        <if test="filter.roleIdList!=null and filter.roleIdList.size>0">
            <if test="filter.isOnlyShowPerm==null and !filter.isOnlyShowPerm">
                LEFT
            </if>
            JOIN t_sys_role_menu srm ON srm.menu_id = sm.id
            AND srm.role_id IN
            <foreach collection="filter.roleIdList" separator="," open="(" close=")" item="roleId">
                #{roleId}
            </foreach>
        </if>
        WHERE sm.is_deleted = 0
        <if test="filter.excludeMenuId!=null">
            AND sm.id != #{filter.excludeMenuId}
        </if>
        <if test="filter.menuIdList!=null and filter.menuIdList.size>0">
            AND sm.id IN
            <foreach collection="filter.menuIdList" separator="," open="(" close=")" item="menuId">
                #{menuId}
            </foreach>
        </if>
        GROUP BY sm.id
        ORDER BY sm.sort ASC
    </select>

    <select id="selectAllMenuId" resultType="java.lang.Integer">
        SELECT id
        FROM t_sys_menu
    </select>

</mapper>
