<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysRoleMapper">

    <!-- 超管 不让其它用户看到 -->
    <select id="selectDataList" resultType="com.zhengqing.system.model.vo.SysRoleBaseVO">
        SELECT
        *
        FROM t_sys_role
        <where>
            <if test="filter.name != null and filter.name != ''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.excludeRoleId!=null">
                AND role_id != #{filter.excludeRoleId}
            </if>
            <if test="filter.currentUserId!=1">
                AND role_id != 1
            </if>
        </where>
        ORDER BY is_fixed DESC, sort ASC, create_time DESC
    </select>

    <select id="selectRoleIdByCode" resultType="java.lang.Integer">
        SELECT role_id
        FROM t_sys_role
        WHERE code = #{code} LIMIT 1
    </select>

</mapper>
