<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysRoleMapper">

    <!-- 非超管不能看特俗角色 -->
    <select id="selectDataList" resultType="com.zhengqing.system.model.vo.SysRoleBaseVO">
        SELECT
        *
        FROM t_sys_role
        <where>
            <if test="filter.currentUserId!=1">
                AND code not in ('super_admin')
            </if>
            <if test="filter.name != null and filter.name != ''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.excludeRoleIdList != null and filter.excludeRoleIdList.size() > 0">
                AND role_id not in
                <foreach item="excludeRoleId" index="index" collection="filter.excludeRoleIdList" open="(" separator="," close=")">
                    #{excludeRoleId}
                </foreach>
            </if>
        </where>
        ORDER BY is_fixed DESC, sort ASC, create_time DESC
    </select>

    <select id="selectRoleIdByCodes" resultType="java.lang.Integer">
        SELECT role_id
        FROM t_sys_role
        WHERE
        <if test="codes != null and codes.size() > 0">
            code in
            <foreach item="code" index="index" collection="codes" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
    </select>

    <select id="selectRoleIdByCode" resultType="java.lang.Integer">
        SELECT role_id
        FROM t_sys_role
        WHERE code = #{code} LIMIT 1
    </select>

</mapper>
