<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysTenantPackageMapper">

    <resultMap id="pageMap" type="com.zhengqing.system.model.vo.SysTenantPackagePageVO">
        <result column="menu_id_list"
                property="menuIdList"
                typeHandler="com.zhengqing.common.db.config.mybatis.handler.ListIntegerTypeHandler"></result>
        <result column="permission_id_list"
                property="permissionIdList"
                typeHandler="com.zhengqing.common.db.config.mybatis.handler.ListIntegerTypeHandler"></result>
    </resultMap>

    <select id="selectDataPage" resultMap="pageMap">
        SELECT
        *
        FROM t_sys_tenant_package
        <where>
            <if test="filter.id!=null">
                AND id = #{filter.id}
            </if>
            <if test="filter.name!=null and filter.name!=''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.status!=null">
                AND status = #{filter.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectDataList" resultType="com.zhengqing.system.model.vo.SysTenantPackageListVO">
        SELECT
        id,name
        FROM t_sys_tenant_package
        <where>
            <if test="filter.name!=null and filter.name!=''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
