<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysTenantMapper">

    <select id="selectDataPage" resultType="com.zhengqing.system.model.vo.SysTenantPageVO">
        SELECT
        tst.*, tstp.name packageName
        FROM t_sys_tenant tst
        LEFT JOIN t_sys_tenant_package tstp ON tst.package_id = tstp.id
        <where>
            tst.is_deleted=0
            <if test="filter.name!=null and filter.name!=''">
                AND tst.name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
        </where>
        ORDER BY tst.sort ASC, tst.create_time DESC
    </select>

    <select id="selectDataList" resultType="com.zhengqing.system.model.vo.SysTenantListVO">
        SELECT id,
        name
        FROM t_sys_tenant
        <where>
            is_deleted=0 AND status=1
            <if test="filter.name!=null and filter.name!=''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.packageId!=null">
                AND package_id = #{filter.packageId}
            </if>
        </where>
    </select>

    <select id="selectDelAllDataSql" resultType="java.lang.String">
        select CONCAT('update ', r.TABLE_NAME, ' set is_deleted = 1 where tenant_id in ( ', #{tenantId}, ' );')
        from (SELECT re.*, count(1) count
              from (
                  SELECT t.TABLE_NAME
                  FROM information_schema.TABLES t
                  join information_schema.COLUMNS c on (t.TABLE_NAME = c.TABLE_NAME and c.COLUMN_NAME in ( 'is_deleted', 'tenant_id' ) )
                  WHERE t.table_schema = #{tableSchema}
                  GROUP BY t.TABLE_NAME, c.COLUMN_NAME
                  ) re
              GROUP BY re.TABLE_NAME) r
        where r.count > 1
    </select>

</mapper>
