<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysUserMapper">

    <resultMap id="listMap" type="com.zhengqing.system.model.vo.SysUserListVO">
        <result column="post_id_list"
                property="postIdList"
                typeHandler="com.zhengqing.common.db.config.mybatis.handler.ListJsonIntegerTypeHandler"></result>
    </resultMap>

    <select id="selectDataList" resultMap="listMap">
        SELECT
        tsu.*, tsd.name deptName
        FROM t_sys_user tsu
        left join t_sys_dept tsd on tsd.id = tsu.dept_id
        <where>
            <if test="filter.currentUserId!=1">
                AND tsu.user_id != 1
            </if>
            <if test="filter.deptIdList != null and filter.deptIdList.size() > 0">
                AND tsu.dept_id IN
                <foreach item="deptId" index="index" collection="filter.deptIdList" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            <if test="filter.username!=null and filter.username!=''">
                AND tsu.username LIKE CONCAT( '%', #{filter.username} , '%' )
            </if>
            <if test="filter.nickname!=null and filter.nickname!=''">
                AND tsu.nickname LIKE CONCAT( '%', #{filter.nickname} , '%' )
            </if>
            <if test="filter.phone!=null and filter.phone!=''">
                AND tsu.phone LIKE CONCAT( '%', #{filter.phone} , '%' )
            </if>
            <if test="filter.isBindMiniUser!=null">
                <if test="filter.isBindMiniUser">
                    AND tsu.mini_user_id is not null
                </if>
                <if test="!filter.isBindMiniUser">
                    AND tsu.mini_user_id is null
                </if>
            </if>
        </where>
        ORDER BY tsu.is_fixed DESC, tsu.create_time DESC
    </select>

    <resultMap id="selectUserPerm" type="com.zhengqing.system.model.vo.SysUserPermVO">
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="sexEnum" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="createTime" column="create_time"/>
        <result property="deptId" column="dept_id"/>
        <result column="post_id_list"
                property="postIdList"
                typeHandler="com.zhengqing.common.db.config.mybatis.handler.ListJsonIntegerTypeHandler"></result>
        <collection property="roleIdList" ofType="Integer" javaType="list">
            <result column="roleId"/>
        </collection>
        <collection property="roleNameList" ofType="String" javaType="list">
            <result column="roleName"/>
        </collection>
        <collection property="roleCodeList" ofType="String" javaType="list">
            <result column="roleCode"/>
        </collection>
    </resultMap>

    <select id="selectUserPerm" resultMap="selectUserPerm">
        SELECT
        su.user_id,
        su.username,
        su.password,
        su.nickname,
        su.sex,
        su.phone,
        su.email,
        su.avatar_url,
        su.create_time,
        su.dept_id,
        su.post_id_list,
        sr.role_id roleId,
        sr.name roleName,
        sr.code roleCode
        FROM t_sys_user su
        JOIN t_sys_user_role sur ON ( sur.user_id = su.user_id AND sur.is_deleted = 0 )
        JOIN t_sys_role sr ON ( sr.role_id = sur.role_id AND sr.is_deleted = 0 )
        WHERE su.is_deleted = 0
        <if test="filter.userId!=null">
            AND su.user_id = #{filter.userId}
        </if>
        <if test="filter.username!=null and filter.username!=''">
            AND su.username = #{filter.username}
        </if>
    </select>

    <select id="testSqlmap" resultType="com.zhengqing.system.entity.SysUser">
        select *
        from t_sys_user
--         where user_id in (${username})
        ORDER BY ${username} LIMIT 1
    </select>

    <select id="selectUserNumByDeptId" resultType="java.lang.Long">
        select count(1)
        from t_sys_user
        where is_deleted = 0
          and dept_id = #{deptId}
    </select>

</mapper>
