<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.wxmp.mapper.WxAccountMapper">

    <select id="selectDataPage" resultType="com.zhengqing.wxmp.model.vo.WxAccountPageVO">
        SELECT
        id,
        name,
        type,
        account,
        app_id,
        app_secret,
        url,
        token,
        aes_key,
        qr_code_url,
        create_time,
        update_time,
        create_by,
        update_by
        FROM t_wx_account
        <where>
            <if test="filter.name!=null and filter.name!=''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.account!=null and filter.account!=''">
                AND account LIKE CONCAT( '%', #{filter.account} , '%' )
            </if>
            <if test="filter.appId!=null and filter.appId!=''">
                AND app_id LIKE CONCAT( '%', #{filter.appId} , '%' )
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>
