<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.wxmp.mapper.WxMpTemplateMsgMapper">

    <resultMap id="page" type="com.zhengqing.wxmp.model.vo.WxMpTemplateMsgPageVO">
        <result column="data_list"
                property="dataList"
                typeHandler="com.zhengqing.wxmp.config.mybatis.handler.WxMpTemplateMsgDataTypeHandler"></result>
    </resultMap>

    <select id="selectDataPage" resultMap="page">
        SELECT
        id,
        app_id,
        tpl_id,
        title,
        content,
        data_list,
        create_time,
        update_time,
        create_by,
        update_by
        FROM t_wx_mp_template_msg
        <where>
            <if test="filter.appId!=null and filter.appId!=''">
                AND app_id LIKE CONCAT( '%', #{filter.appId} , '%' )
            </if>
            <if test="filter.title!=null and filter.title!=''">
                AND title LIKE CONCAT( '%', #{filter.title} , '%' )
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>
