<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.wxmp.mapper.WxMpMsgAutoReplyMapper">

    <select id="selectDataPage" resultType="com.zhengqing.wxmp.model.vo.WxMpMsgAutoReplyPageVO">
        SELECT
        id,
        app_id,
        name,
        type,
        match_value,
        is_exact_match,
        reply_type,
        reply_content,
        create_time,
        update_time,
        create_by,
        update_by
        FROM t_wx_mp_msg_auto_reply
        <where>
            <if test="filter.appId!=null and filter.appId!=''">
                AND app_id LIKE CONCAT( '%', #{filter.appId} , '%' )
            </if>
            <if test="filter.type!=null and filter.type!=''">
                AND type LIKE CONCAT( '%', #{filter.type} , '%' )
            </if>
            <if test="filter.name!=null and filter.name!=''">
                AND name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
            <if test="filter.matchValue!=null and filter.matchValue!=''">
                AND match_value LIKE CONCAT( '%', #{filter.matchValue} , '%' )
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>
