<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.wxmp.mapper.WxTemplateMsgMapper">

    <select id="selectDataPage" resultType="com.zhengqing.wxmp.model.vo.WxTemplateMsgPageVO">
        SELECT
        id,
        app_id,
        tpl_id,
        title,
        content,
        create_time,
        update_time,
        create_by,
        update_by
        FROM t_wx_template_msg
        <where>
            <if test="filter.appId!=null and filter.appId!=''">
                AND app_id LIKE CONCAT( '%', #{filter.appId} , '%' )
            </if>
            <if test="filter.title!=null and filter.title!=''">
                AND title LIKE CONCAT( '%', #{filter.title} , '%' )
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="detail" resultType="com.zhengqing.wxmp.model.vo.WxTemplateMsgDetailVO">
        SELECT
        id,
        app_id,
        tpl_id,
        title,
        content,
        create_time,
        update_time,
        create_by,
        update_by
        FROM t_wx_template_msg
        <where>
            <if test="filter.id!=null">
                AND id = #{filter.id}
            </if>
            <if test="filter.appId!=null and filter.appId!=''">
                AND app_id LIKE CONCAT( '%', #{filter.appId} , '%' )
            </if>
            <if test="filter.tplId!=null and filter.tplId!=''">
                AND tpl_id LIKE CONCAT( '%', #{filter.tplId} , '%' )
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>
