<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.ums.mapper.UmsUserMapper">

    <select id="selectUserInfo" resultType="com.zhengqing.ums.model.vo.UmsUserVO">
        SELECT *
        FROM ums_user
        <where>
            <if test="filter.userId!=null">
                AND id = #{filter.userId}
            </if>
            <if test="filter.username!=null and filter.username!=''">
                AND username = #{filter.username}
            </if>
            <if test="filter.openid!=null and filter.openid!=''">
                AND openid = #{filter.openid}
            </if>
            <if test="filter.phone!=null and filter.phone!=''">
                AND phone = #{filter.phone}
            </if>
        </where>
        LIMIT 1
    </select>

</mapper>
