<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.ums.mapper.UmsUserMapper">

    <select id="selectUserInfo" resultType="com.zhengqing.ums.model.vo.UmsUserVO">
        SELECT *
        FROM ums_user
        <where>
            <if test="filter.userId!=null">
                AND id = #{filter.userId}
            </if>
            <if test="filter.nickname!=null and filter.nickname!=''">
                AND nickname = #{filter.nickname}
            </if>
            <if test="filter.openid!=null and filter.openid!=''">
                AND openid = #{filter.openid}
            </if>
            <if test="filter.phone!=null and filter.phone!=''">
                AND phone = #{filter.phone}
            </if>
        </where>
        LIMIT 1
    </select>

    <update id="updateUserInfo">
        update ums_user
        SET nickname = #{filter.nickname},
        avatar_url = #{filter.avatarUrl},
        <if test="filter.phone!=null and filter.phone!=''">
            phone = #{filter.phone},
        </if>
        <if test="filter.birthday!=null and filter.birthday!=''">
            birthday = #{filter.birthday},
        </if>
        <if test="filter.sex!=null">
            sex = #{filter.sex}
        </if>
        WHERE id = #{filter.id}
    </update>

    <select id="selectWebPage" resultType="com.zhengqing.ums.model.vo.WebUmsUserPageVO">
        SELECT
        *
        FROM ums_user
        <where>
            <if test="filter.id!=null">
                AND id = #{filter.id}
            </if>
            <if test="filter.openid!=null and filter.openid!=''">
                AND openid = #{filter.openid}
            </if>
            <if test="filter.phone!=null and filter.phone!=''">
                AND phone = #{filter.phone}
            </if>
            <if test="filter.nickname!=null and filter.nickname!=''">
                AND nickname = #{filter.nickname}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
