server:
  port: 888
  tomcat:
    threads:
      max: 2000      # 最大线程数
      min-spare: 100 # 最小工作线程数
    max-connections: 10000 # 接受和处理的最大连接数
    accept-count: 1000 # 可以放到处理队列中的请求数
    # 查看服务线程数   pstree -p `ps -e | grep java | awk '{print $1}'` | wc -l

spring:
  application:
    name: app # 应用名称
  profiles:
    active: dev # 环境配置
    # 聚合各个基础组件配置
    include:
      - auth
      - base
      - db
      - excel
      - file
      - flink-cdc
      - flowable
      - log
      - mq
      - pay
      - redis
      - swagger
      - web
      - ums
      - douyin

management:
  endpoints:
    web:
      exposure:
        include: '*'  # 暴露监控端点
#  security:
#    enabled: false   # 关闭安全验证

