<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.wf.mapper.WfFormMapper">

    <resultMap id="page" type="com.zhengqing.wf.model.vo.WfFormPageVO">
        <result column="config"
                property="config"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"></result>
    </resultMap>

    <select id="selectDataPage" resultMap="page">
        SELECT
        wf.*
        FROM wf_form wf
        <where>
            wf.is_deleted=0
            <if test="filter.name!=null and filter.name!=''">
                AND wf.name LIKE CONCAT( '%', #{filter.name} , '%' )
            </if>
        </where>
        ORDER BY wf.create_time DESC
    </select>

    <select id="selectDataList" resultType="com.zhengqing.wf.model.vo.WfFormListVO">
        SELECT id, name
        FROM wf_form
        where is_deleted = 0
        ORDER BY create_time DESC
    </select>

    <resultMap id="detail" type="com.zhengqing.wf.model.vo.WfFormDetailVO">
        <result column="config"
                property="config"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"></result>
    </resultMap>

    <select id="detail" resultMap="detail">
        SELECT
        wf.*
        FROM wf_form wf
        <where>
            wf.is_deleted=0
            <if test="filter.id!=null">
                AND wf.id = #{filter.id}
            </if>
        </where>
        limit 1
    </select>

</mapper>
