<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysUserMapper">

    <select id="selectDataList" resultType="com.zhengqing.system.model.vo.SysUserListVO">
        SELECT
        *
        FROM t_sys_user
        <where>
            <if test="filter.username!=null and filter.username!=''">
                AND username LIKE CONCAT( '%', #{filter.username} , '%' )
            </if>
            <if test="filter.nickname!=null and filter.nickname!=''">
                AND nickname LIKE CONCAT( '%', #{filter.nickname} , '%' )
            </if>
        </where>
        ORDER BY user_id DESC
    </select>

    <select id="detail" resultType="com.zhengqing.system.model.vo.SysUserDetailVO">
        SELECT *
        FROM t_sys_user
        WHERE is_deleted = 0
          AND user_id = #{userId}
    </select>

    <select id="selectUserPerm" resultType="com.zhengqing.system.model.vo.SysUserPermVO">
        SELECT *,
        sex sexEnum
        FROM t_sys_user
        WHERE is_deleted = 0
        <if test="filter.userId!=null">
            AND user_id = #{filter.userId}
        </if>
        <if test="filter.username!=null and filter.username!=''">
            AND username = #{filter.username}
        </if>
    </select>

    <select id="testSqlmap">
        select *
        from t_sys_user
--         where user_id in (${username})
        ORDER BY ${username} LIMIT 1
    </select>

</mapper>
